.loc-table{
    position: absolute;
    top: 100px;
    left: 450px;
}

.table{
    border: 5px solid #000000;
    height: 500px;
    width: 500px;
}

.cel-color1{
    background-color: #494040;
}

.cel-color2{
    background-color: #ffffff
}

#horse{
    position: absolute;
    top: 10px;
    left: 70px;
    animation: horse 14s infinite;
}


@keyframes horse{
0%{top: 10px; left: 75px}
6%{top: 135px; left: 75px;}
12%{top: 135px; left: 135px;}
18%{top: 260px; left: 135px;}
24%{top: 260px; left: 200px;}
30%{top: 380px; left: 200px;}
36%{top: 380px; left: 255px;}
42%{top: 445px; left: 255px;}
48%{top: 445px; left: 385px;}
54%{top: 445px; left: 255px;}
60%{top: 380px; left: 255px;}
66%{top: 380px; left: 200px;}
72%{top: 260px; left: 200px;}
78%{top: 260px; left: 135px;}
84%{top: 135px; left: 135px;}
90%{top: 135px; left: 75px;}
100%{top: 10px; left: 75px;}
}
